* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aliceblue;
  gap: 40px;
  flex-direction: column;
}

.btn {
  padding: 20px 40px;
  background: #003049;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-decoration: none;
  color: white;
  position: relative;
  overflow: hidden;
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background: #e71d36;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}
.btn:hover::before {
  height: 300px;
  width: 300px;
}
